# Modules for Earth Engine Examples
geemap
# Modules for TERN-WPS Examples
owslib
pandas
shapely
matplotlib
ipyleaflet
rasterio
mistune>2.0.3 # Added for security reasons when using geemap
# Modules for TERN Data Services Examples
python-dateutil